<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants>
        <grant name="send" default="member">
            <title xml:lang="ko">발송 권한</title>
            <title xml:lang="en">Sending messages</title>
        </grant>
    </grants>
	<permissions />
	<actions>
		<!-- for admin -->
		<action name="dispPurplebookAdminModInstList" type="view" standalone="true" admin_index="true" />
		<action name="dispPurplebookAdminInsertModInst" type="view" standalone="true" />
		<action name="dispPurplebookAdminGrantInfo" type="view" standalone="true" />
	
		<action name="getPurplebookAdminDeleteModInst" type="model" standalone="true" />

		<action name="procPurplebookAdminInsertModInst" type="controller" standalone="true" />
		<action name="procPurplebookAdminDeleteModInst" type="controller" standalone="true" />

		<!-- for member -->
		<action name="dispPurplebookIndex" type="view" index="true" />
		<action name="dispPurplebookFilePicker" type="view" />

		<action name="getPurplebookList" type="model" />
		<action name="getPurplebookSearch" type="model" />
		<action name="getPurplebookSearchFolder" type="model" />
		<action name="getPurplebookSharedUsers" type="model" />
		<action name="getPurplebookProperties" type="model" />
		<action name="getPurplebookCashInfo" type="model" />
		<action name="getPurplebookPointInfo" type="model" />
		<action name="getPurplebookCallbackNumbers" type="model" />
		<action name="getPurplebookLatestNumbers" type="model" />
		<action name="getPurplebookSavedMessages" type="model" />
		<action name="getPurplebookUpdateAddress" type="model" />
		<action name="getPurplebookResult" type="model" />
		<action name="getPurplebookPreview" type="model" />
		<action name="getPurplebookListCount" type="model" />
		<action name="getPurplebookListByNodeRoute" type="model" />
		<action name="getPurplebookSenderIDVerificationInfo" type="model" />
		<action name="getPurplebookSenderIDs" type="model" />
		<action name="getPopupLayer" type="model" />

		<action name="procPurplebookSendMsg" type="controller" standalone="true" />
		<action name="procPurplebookFilePicker" type="controller" standalone="true" />
		<action name="procPurplebookUpdateName" type="controller" standalone="true" />
		<action name="procPurplebookUpdatePhone" type="controller" standalone="true" />
		<action name="procPurplebookCopy" type="controller" standalone="true" />
		<action name="procPurplebookAddNode" type="controller" standalone="true" />
		<action name="procPurplebookAddList" type="controller" standalone="true" />
		<action name="procPurplebookRenameNode" type="controller" standalone="true" />
		<action name="procPurplebookMoveNode" type="controller" standalone="true" />
		<action name="procPurplebookMoveList" type="controller" standalone="true" />
		<action name="procPurplebookDeleteNode" type="controller" standalone="true" />
		<action name="procPurplebookShareNode" type="controller" standalone="true" />
		<action name="procPurplebookUnshareNode" type="controller" standalone="true" />
		<action name="procPurplebookSaveCallbackNumber" type="controller" standalone="true" />
		<action name="procPurplebookDeleteCallbackNumber" type="controller" standalone="true" />
		<action name="procPurplebookSetDefaultCallbackNumber" type="controller" standalone="true" />
		<action name="procPurplebookSaveReceiverNumber" type="controller" />
		<action name="procPurplebookDeleteReceiverNumber" type="controller" standalone="true" />
		<action name="procPurplebookSaveMessage" type="controller" standalone="true" />
		<action name="procPurplebookDeleteMessage" type="controller" standalone="true" />
		<action name="procPurplebookPurplebookDownload" type="controller" standalone="true" method="GET|POST" />
		<action name="procPurplebookExcelLoad" type="controller" stradalone="true" />
		<action name="procPurplebookUpdateList" type="controller" stradalone="true" />
		<action name="procPurplebookDelete" type="controller" stradalone="true" />
		<action name="procPurplebookUpdate" type="controller" stradalone="true" />
		<action name="procPurplebookCancelMsg" type="controller" stradalone="true" />
		<action name="procPurplebookRegisterSenderID" type="controller" stradalone="true" />
		<action name="procPurplebookSetDefaultSenderID" type="controller" stradalone="true" />
		<action name="procPurplebookDeleteSenderID" type="controller" stradalone="true" />
	</actions>
</module>
