@charset "utf-8";

/* common */
span.checkbox { margin-top:2px; padding:0; width:13px; height:13px; display:inline; float:left; background:url('../img/bg_checkbox.gif') no-repeat; overflow:hidden; cursor:pointer; } 
span.checkbox.on { background-position:0px -13px; } 
.border-radius { -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.border-radius8 { -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
#smsPurplebook .btn_blank { cursor:default; }
.pb_container { width:820px; margin:0 auto; }

/* title */
#hearder_title { position:relative; height:60px; margin-bottom:0;  }
#hearder_title .quick_menu { position:relative; float:right; display:inline; margin-bottom:10px; width:350px; height:55px;}
#hearder_title .quick_menu ul { list-style:none; padding:0; margin:0;}
#hearder_title .quick_menu li { float:left; padding:0; margin:0 10px; }

#smsPurplebook { clear:both; height:380px; background:#fff; z-index:0; }
#smsPurplebook_top { position:relative; height:21px; background:url(../img/round_bg_top.gif) no-repeat;}

.purplebook_left { position:relative; float:left; width:490px; height:365px; padding:0; color:#666; _width:500px; }
.purplebook_left .purplebook_left_title { position:relative; float:left; border-bottom:1px solid #eee; }
.purplebook_left .title01 { float:left; padding:10px 0px 10px 20px; width:225px; color:#666; font-size:14px; font-weight:bold; }
.purplebook_left .purplebook_left_title .title02 { float:left; padding:10px 0px 5px; width:266px; }
.purplebook_left .purplebook_left_title .title02 img { vertical-align:middle;}
.purplebook_left .purplebook_left_title .search { position:absolute; right:8px; top:8px;  display:block; padding:0; width:160px; height:18px;} 
.purplebook_left .purplebook_left_title .search .inputTypeText { padding:2px 5px 2px 2px; width:140px; height:16px; background:none; border:none; background:#f7f7f7; }
.purplebook_left .purplebook_left_title .search a {position:absolute; top:0;  *top:1px; width:18px; height:18px; border:1px solid #71aee6;}

/* advanced menus */
.purplebook_left .advanced_menu { margin:0; padding:5px 0; list-style:none; position:absolute; z-index:30; width:130px; background-color:#333; display:none; right:105px; top:327px; }
.purplebook_left .advanced_menu:after { top:10%; left:-15px; border:solid transparent; border-color:transparent; border-width:10px; border-right-color:#333; position:absolute; width:0; height:0; content:"";  }
.purplebook_left .advanced_menu li { padding:1px; line-height:18px; }
.purplebook_left .advanced_menu li.arrow { background:url(../img/icon_gspecial7.gif); width:10px; height:10px; position:absolute; left:0; top:30px; }
.purplebook_left .advanced_menu li a { display:block; color:#fff; text-decoration:none; text-indent:10px; padding:3px 0; }
.purplebook_left .advanced_menu li a:hover { text-decoration:underline; }

/* stage 1 left folder list area */
.purplebook_left .left_list { float:left; width:235px; margin:0 5px 15px 10px; padding:0; font:8pt dotum; color:#666;}
.purplebook_left .left_list .title { margin-bottom:5px;}
.purplebook_left .left_list .title p{ display:inline; margin:0; vertical-align:middle;}
.purplebook_left .left_list .title img { vertical-align:middle;}

.purplebook_left .left_list .title_info { display:block; padding:5px 0 3px 10px; margin:0; line-height:2em; border-bottom:none;}
.purplebook_left .left_list .bodyArea { padding:10px; background:#fbf9f6; height:240px; overflow:auto; }

.bottomArea #btn_empty_trash { margin:0;}
.purplebook_left .left_list .bottomArea .btn_menual img {}

/* stage 2 left folder selection area */
.purplebook_left .left_select { float:right; width:235px; margin:0 0 15px 5px; padding:0; font:8pt dotum; color:#666;}
.purplebook_left .left_select .title { margin-bottom:5px; }
.purplebook_left .left_select .title p{ display:inline; margin:0; vertical-align:middle;}
.purplebook_left .left_select .title img { vertical-align:middle;}
.purplebook_left .left_select .title .search { right:13px; position:absolute; margin:0;padding:0; }
.purplebook_left .left_select .title .search #search_word { width:80px; height:12px;}
.purplebook_left .left_select .title .search #btn_search { margin-left:2px; }
.purplebook_left .left_select .title_info { display:block; padding:5px 0 3px 10px; margin:0; line-height:2em; border-bottom:none;}
.purplebook_left .left_select .title_info .checkbox { margin-top:4px;}
/* .purplebook_left .left_select .title_info .list_count { margin-left:15px;} */
.purplebook_left .left_select .title_info a.all_view { border-radius:3px; position:absolute; right:0; text-decoration:none; color:#555; background:#f5f5f5; border:1px solid #ccc; padding:0 5px;}
.purplebook_left .left_select .bodyArea { padding:10px; background:#fbf9f6; height:240px; }
.purplebook_left .left_select .bodyArea ul#smsPurplebookList { height:100%; margin:0; overflow:auto; padding:0; } 
.purplebook_left .left_select .bodyArea ul#smsPurplebookList li { height:21px; font-size:12px; color:#676767; list-style-type:none; margin:0; padding:0; display:block; }
.purplebook_left .left_select .bodyArea ul#smsPurplebookList li:hover { background-color:#eeeeee; }
.purplebook_left .left_select .bodyArea ul#smsPurplebookList li span.checkbox { margin-right:12px; }
.purplebook_left .left_select .bodyArea ul#smsPurplebookList li span.nodeName { margin: -1px 0px 0px 0px; padding:2px 2px 2px 0; width: 58px; text-overflow: ellipsis; display:inline; font-family:tahoma; white-space:nowrap; float:left; overflow:hidden; font-weight:normal; cursor:pointer;}
.purplebook_left .left_select .bodyArea ul#smsPurplebookList li span.nodePhone { margin: -1px 0px 0px 4px; padding:2px 2px 2px 0; width: 90px; text-overflow: ellipsis; display: inline; font-family: tahoma; white-space: nowrap; float: left; overflow: hidden; font-weight: normal; cursor:pointer; }
.purplebook_left .left_select .bodyArea ul#smsPurplebookList li .modifyName { width:80px; font:9pt dotum; }
.purplebook_left .left_select .bodyArea ul#smsPurplebookList li .modifyPhone {width:120px; font:9pt Arial; letter-spacing:3px; }

/* centeral arrow area */
.purplebook_arrow { float:left; width:50px; padding-top:160px; text-align:center; overflow:hidden; vertical-align:middle; }
.purplebook_arrow .btn_arrow_right a { display:block; margin-bottom:30px; }

/* stage 3 right target list area */
.purplebook_right { position:relative; float:left; width:280px; height:365px; padding:0; color:#666; }
.purplebook_right .purplebook_right_title { font-size:14px; font-weight:bold; padding:10px 0; border-bottom:1px solid #eee;} 
.purplebook_right .purplebook_right_title .title { float:left; margin:0; padding:10px 15px; width:298px;}

.purplebook_right .title { }
.purplebook_right .title p{ display:inline; margin:0; vertical-align:middle;}
.purplebook_right .title img { vertical-align:middle;}

.purplebook_right .add_list { float:left; margin:15px 0 0; }
.purplebook_right .add_list label { display:inline; float:left; margin:0 1px 0 0; padding:0; letter-spacing:-1px; vertical-align:middle;} 
.purplebook_right .add_list #inputDirectName { display:inline; float:left; width:60px; height:15px; padding:5px; vertical-align:middle;  margin:0 3px 0 0; background:#f7f7f7; border:0; } 
.purplebook_right .add_list #inputDirectNumber { display:inline; float:left; margin:0 3px 0 0; width: 92px; height:15px; padding:5px; border:0; vertical-align:middle;  background:#f7f7f7; }
.purplebook_right .add_list button.btn_append { font-size:11px; background:#ededed; color:#555; border:0; padding:4px 5px 4px; margin:0; cursor:pointer; .width:34px; _float:left; } 
.purplebook_right .add_list button.pop_recent { font-size:11px; background:#ededed; color:#555; border:0; padding:4px 5px 4px; cursor:pointer; .width:63px; *margin-left:2px; } 

.purplebook_right .title_info {float:left; display:block; width:254px; margin:10px; padding-left:6px; font-size:11px; }
.purplebook_right .title_info .name { margin-left:20px;}
.purplebook_right .title_info .h_number { margin-left:60px;}
.purplebook_right .title_info .h_delete { margin-left:65px;}
.purplebook_right .title_info .status { margin-left:20px;}
.purplebook_right .bodyArea { clear:both; padding:10px; height:190px; background:#fbf9f6; overflow:auto; color:#333; }
.purplebook_right .bodyArea #smsPurplebookTargetList { height:auto; overflow:hidden; margin-top: 8px; margin:0; margin-left:7px; padding:0; padding-top:8px; } 
.purplebook_right .bodyArea #smsPurplebookTargetList li { list-style-type:none; margin:0; padding:0; height: 21px; font-size: 12px; color:#676767; }
.purplebook_right .bodyArea #smsPurplebookTargetList li span.name { margin: 1px 0px 0px 15px; width:58px; text-overflow: ellipsis; display: inline-block; white-space: nowrap; overflow: hidden; font-weight: normal; cursor:pointer; }
.purplebook_right .bodyArea #smsPurplebookTargetList li span.number { margin: -1px 0px 0px 6px; width:82px; text-overflow: ellipsis; display: inline-block; font-family: tahoma; white-space: nowrap; overflow: hidden; font-weight: normal; cursor:pointer; }
.purplebook_right .bodyArea #smsPurplebookTargetList li span.delete { cursor:pointer; text-indent: -1000em; padding:0; border:0 none; margin:0 0 0 40px; width: 9px; display: inline-block; background:url('../img/btn_delete.gif') no-repeat; height:9px; overflow: hidden; } 
.purplebook_right .bodyArea #smsPurplebookTargetList li span.statusBox { display:inline-block; margin-left:8px; text-align:center; width:60px; }
.purplebook_right .bodyArea #smsPurplebookTargetList li span.statusBox span.status { display:inline-block; margin:0; background:url(../img/stat_try.gif) no-repeat; width:16px; height:16px; } 
.purplebook_right .bodyArea #smsPurplebookTargetList li span.statusBox span.status.try { background:url(../img/stat_try.gif) no-repeat; } 
.purplebook_right .bodyArea #smsPurplebookTargetList li span.statusBox span.status.error { background:url(../img/stat_error.gif) no-repeat; } 
.purplebook_right .bodyArea #smsPurplebookTargetList li span.statusBox span.status.complete { background:url(../img/stat_complete.gif) no-repeat; } 

/* 버튼통합클래스로 변경(기존스타일)
.purplebook_right .bottomArea { position:relative; margin:7px 15px; padding-left:20px; height:20px; }
.purplebook_right .bottomArea a { float:left;}
.purplebook_right .bottomArea a.pop_overlap { position:absolute; left:188px; top:0px; display:inline-block; font:8pt dotum; color:#4483d9; background:url(../img/btn_dupli_bg.gif) no-repeat; }
.purplebook_right .bottomArea a.pop_overlap span.number { position:absolute; right:14px; padding:6px 2px; }
*/

/* layer popup style */
.layer,
.layer { position:absolute; display:none; padding:15px 5px 5px; border:1px solid #536b94; background:#55849f;}
.layer .title,
.layer .title { position:relative; margin-bottom:5px; height:22px;}
.layer .title p,
.layer .title p {display:inline; margin-left:10px; vertical-align:middle; color:#fff;}
.layer .title .btn_closex,
.layer .title .btn_closex { position:absolute; right:0;}
.layer .title .total,
.layer .title .total { margin-left:10px;}
.layer .title_info,
.layer .title_info { display:block; padding:5px 0 3px 17px; margin:0; line-height:1.6; border:1px solid #ddd; border-bottom:none;}
.layer .bodyArea,
.layer .bodyArea { padding:10px; background:#fff url(../img/body_area_bg.gif) repeat-x left top; border:0; overflow:auto;}

/* layre button */
a.close_btn { background:#222 !important; color:#fff !important; text-decoration:none; margin-top:5px; padding:5px 10px; }
a.add_btn, button.add_btn { background:#222 !important; color:#fff !important; border-radius:0 !important; text-shadow:none !important; text-decoration:none; padding:4px 10px; display:inline-block; }
a.pink_btn { background:#fb7979; color:#fff; font-size:13px; height:50px; width:60px; line-height:50px; display:block; text-align:center; text-decoration:none; }
div.bodyArea input { border:1px solid #ddd; padding:2px; color:#676; vertical-align:middle; }
ul.bottom_btn { display:table; height:42px; width:100%; margin:0; padding:0; }
ul.bottom_btn li { list-style:none; display:table-cell; white-space:nowrap; white-space:nowrap; border-right:1px solid #55849f; }
ul.bottom_btn li a:after { bottom:-4px; content:""; height:1px; left:0; overflow:hidden; position:absolute; width:100%; }
ul.bottom_btn a { background:#2f627f; color:#fff; font-weight:bold; text-decoration:none; text-align:center; height:39px; line-height:39px; display:block; position:relative; }

/* layer popup title */
span.pop_total { color:#fff; font-size:11px !important; }
p.pop_title { font-size:13px; color:#fff; font-weight:bold; }

/* layer popup (properties) */
#layer_properties { top:0px; left:200px; width:200px; height:200px; }
#layer_properties .bodyArea { height:140px;}
#layer_properties .bodyArea ul#properties_list {  height:100%; margin:0; padding:0; } 
#layer_properties .bodyArea ul#properties_list li { list-style-type:none; margin:0; padding:0; line-height:1.6;}

/* layer popup(folder share) */
#layer_share { top:0px; left:200px; width:200px; height:200px; }
#layer_share .bodyArea { height:124px;}
#layer_share .bodyArea ul#share_list {  height:100%; margin:0; padding:0; } 
#layer_share .bodyArea ul#share_list li { list-style-type:none; margin:0; padding:0; height: 21px; }
#layer_share .bodyArea ul#share_list li span.user_id { width:66px; text-overflow:ellipsis; display:inline-block; white-space:nowrap; overflow:hidden; } 
#layer_share .bodyArea ul#share_list li span.nick_name { width:66px; text-overflow:ellipsis; display:inline-block; white-space:nowrap; overflow:hidden; }
#layer_share .bodyArea ul#share_list li span.delete { cursor:pointer; text-indent:-1000em; padding:0; border:0 none; margin: 2px 0px 0px 10px; width: 9px; display: inline-block; background:url('../img/btn_delete.gif') no-repeat; height:9px; overflow: hidden; } 
#layer_share .bottomArea #input_user_id { width:100px; vertical-align:top; }
#layer_share .bottomArea button{ width:44px; height:20px; margin-left:2px; vertical-align:middle; background:url('../img/btn_append.gif') no-repeat; border:0 none; text-indent:-1000em; *margin-left:5px; overflow:hidden; cursor:pointer;} 
#layer_share .bottomArea a { display:inline; }


/* usage layer window */
#layer_manual { top:360px; left:0; width:500px; height:240px; }
#layer_manual .bodyArea { height:180px;}

/* layer popup (add address) */
#layer_append { bottom:40px; right:15px; width:300px; height:140px; }
#layer_append .bodyArea #inputPurplebookName { width:80px; }
#layer_append .bodyArea #inputPurplebookPhone { width:109px; margin-left:2px; }
#layer_append .bodyArea a#btnAddAddress img { position:relative; top:5px; left:2px;}
#layer_append input.memo { width:200px; margin-top:2px; }
#layer_append { bottom:40px; right:15px; width:300px; }
#layer_append a.append_add{ position:absolute; top:10px; width:50px; height:50px; right:10px; font-size:13px; font-weight:bold; line-height:50px; text-align:center; }
#layer_append div.bodyArea{ position:relative; }



/* layer popup (copy) */
#layer_copy { bottom:40px; right:-285px; width:266px; height:226px; }
#layer_copy .bodyArea { height:140px; }
#layer_copy .bottomArea { padding-top:0; }
#layer_copy .bottomArea a{ float:left;}
#layer_copy .bottomArea .btn_copy { }

/* layer popup (move) */
#layer_move { bottom:40px; right:-285px; width:266px; height:226px;}
#layer_move .bodyArea { height:140px; }
#layer_move .bottomArea { padding-top:5px; }
#layer_move .bottomArea a{ float:left;}
#layer_move .bottomArea .btn_move { }

/* layer popup (copy to addressbook) */
#layer_addrbook { bottom:40px; left:-285px; width:266px; height:226px; }
#layer_addrbook .bodyArea { height:140px; margin:0; }
#layer_addrbook .bottomArea { padding:5px 0 0 0; margin:0; }
#layer_addrbook .bottomArea a{ float:left;}
#layer_addrbook .bottomArea .btn_copy { }

/* layer popup (duplications) */
#layer_overlap { bottom:40px; right:15px; width:266px; height:228px; }
#layer_overlap .title_info span { font-size:11px; }
#layer_overlap .title_info .name { margin-left:10px; }
#layer_overlap .title_info .h_number { margin-left:48px; }
#layer_overlap .title_info .h_delete { margin-left:46px; }
#layer_overlap .bodyArea { height:134px; margin:0;}
#layer_overlap .bodyArea ul#smsPurplebookExceptList { height:100%; margin:0; padding:0; } 
#layer_overlap .bodyArea ul#smsPurplebookExceptList li { list-style-type:none; margin:0; padding:0; height: 21px; }
#layer_overlap .bodyArea ul#smsPurplebookExceptList li span.name { margin: 1px 0px 0px 30px; width:55px; text-overflow: ellipsis; display: inline-block; white-space: nowrap; overflow: hidden; cursor:pointer; }
#layer_overlap .bodyArea ul#smsPurplebookExceptList li span.number { margin: -1px 0px 0px 6px; width:80px; text-overflow: ellipsis; display: inline-block; white-space: nowrap; overflow: hidden; cursor:pointer; }
#layer_overlap .bodyArea ul#smsPurplebookExceptList li span.count { margin: -1px 0px 0px 10px; width:38px; text-overflow: ellipsis; display: inline-block; white-space: nowrap; overflow: hidden; cursor:pointer; }
#layer_overlap .bottom_text { font-size:12px; line-height:2em; }

/* layer popup (bulkadd) */
#layer_mass { bottom:40px; right:15px; width:288px; height:273px; color:#fff; }
#layer_mass .title_info { width:268px;}
#layer_mass .title_info .name { margin-left:10px;}
#layer_mass .title_info .h_number { margin-left:55px;}
#layer_mass .bodyArea { height:160px; overflow:hidden; margin:0; }
#layer_mass .bodyArea textarea#smsPurplebookBulkList { margin:0; height:160px; width:100%; _width:97%; padding:3px; font:8pt dotumche; border:0;}
#layer_mass .bottomArea { margin:0; padding:5px 0 0 0;}
#layer_mass .bottomArea a{ float:left; }
/*
.purplebook_right .layer_mass .bottomArea .btn_empty {margin-left:32px;}
*/

/* layer popup (recent numbers) */
#layer_recent { top:100px; right:15px; width:226px; height:200px;  color:#fff;}
#layer_recent .title_info { width:206px;}
#layer_recent .title_info .name { margin-left:10px;}
#layer_recent .title_info .h_number { margin-left:50px;}
#layer_recent .title_info .delete { margin-left:45px;}
#layer_recent .bodyArea { height:120px; margin:0;}
#layer_recent .bodyArea ul#recent_list { overflow:auto; height:100%; margin:0; padding:0; } 
#layer_recent .bodyArea ul#recent_list li { color:#666;}
#layer_recent .bodyArea ul#recent_list li:hover { background-color:#eeeeee; cursor:pointer; }
#layer_recent .bodyArea ul#recent_list li .name { margin: 1px 0px 0px 4px; width:60px; text-overflow: ellipsis; display: inline-block; white-space: nowrap; overflow: hidden; cursor:pointer; }
#layer_recent .bodyArea ul#recent_list li .phonenum { margin: -1px 0px 0px 4px; width:84px; text-overflow: ellipsis; display: inline-block; font-family: tahoma; white-space: nowrap; overflow: hidden; cursor:pointer; }
#layer_recent .bodyArea ul#recent_list li .delete { cursor:pointer; text-indent: -1000em; padding:0; border:0 none; margin: 2px 0px 0px 20px; width: 9px; display: inline-block; background:url('../img/btn_delete.gif') no-repeat; height:9px; overflow: hidden; } 

/* guide and sending message window on the bottom */
#smsMessage { position:relative; padding:20px 0 20px 10px; margin-top:20px; background:#fff; z-index:1; clear:both; .position:none; display:inline-block; width:99%; }

#smsMessage .left_button { clear:both; overflow:hidden; }
#smsMessage .left_button .left_btn { padding-left:8px; margin-bottom:5px; text-decoration:none; color:#fff; background:#4686ab; text-align:left; width:80px; height:30px; }
#smsMessage .left_button .left_btn:after { border:solid transparent; border-color:transparent; border-width:5px; position:absolute; left:28px; top:10px; border-right-color:#4686ab; width:0; height:0; content:""; }
#smsMessage .left_button button { color:#555; border:0; font-size:11px; height:30px; width:80px; font-family:'NanumGothic'; cursor:pointer; }

/* layer popup (special characters) */
#layer_chars { top:-280px; *left:30px; width:256px; height:264px; }
#layer_chars .bodyArea { height:210px; }
#layer_chars .bodyArea ul {width:231px; overflow:hidden;clear:both;margin:0; padding:0; border-left:1px solid #dfe1de;border-top:1px solid #dfe1de; }
#layer_chars .bodyArea ul li {display:inline; float:left; border-right:1px solid #dfe1de;border-bottom:1px solid #dfe1de; line-height:0;}
#layer_chars .bodyArea ul li.h37 {height:37px;}
#layer_chars .bodyArea ul li img{ vertical-align:top;}

/* layer popup (image upload) */
#layer_upload { top:-135px; *left:30px; width:400px; height:165px; }
#layer_upload .bodyArea { height:115px; }

#smsMessage .msgtype_switch { position:absolute; display:none; top:-70px; left:120px; font:12px dotum; line-height:1.5em; padding:15px; background:#222; color:#fff; }

/* lcd display */
#smsMessage .center_display { list-style-type:none; float:left; padding:0; margin:0; margin-left:23px; position:relative; }
#smsMessage .center_display li { list-style-type:none; float:left; margin-left:15px; padding-bottom:10px; background:#fff; border:1px solid #5c9dc3; }
#smsMessage .center_display li:first-child { margin-left:0; }
#smsMessage .center_display .top_btn { display:block; height:37px; }
#smsMessage .center_display .top_btn button.btn_record {  float:left; display:block; width:83px; height:37px; border:0; border-right:1px solid #8dc9e5; background:#5c9dc3; cursor:pointer; color:#fff; }
#smsMessage .center_display .top_btn button.pop_messages { float:left; display:block; width:83px; height:37px; background:#5c9dc3; border: 0 none; cursor:pointer; color:#fff; }
#smsMessage .center_display .text_area { margin:15px 22px 15px 10px; height:113px; background:none; }
#smsMessage .center_display .text_area .photo { display:none; width:110px; margin-bottom:4px; }
#smsMessage .center_display .text_area textarea { display:block; width:112px; *margin-left:-12px !important; height:96px; margin:0px; padding:0 0px 0 2px; line-height:1.4em; background-color:transparent; font-family:dotumche; font-size:12px; word-break:break-all; letter-spacing:0; border:0; *margin-left:-35px; outline:0; resize:none;}
#smsMessage .center_display .text_area textarea.on { }
#smsMessage .center_display .text_area textarea#main_screen {  }

#smsMessage .center_display .text_btn { position:relative; padding:0; }
#smsMessage .center_display .text_btn a { text-decoration:none; }
#smsMessage .center_display .text_btn a.btn_bytes { text-align:center; color:#555; position:absolute; right:10px; }
#smsMessage .center_display .text_btn a.btn_clear { margin-left:10px;text-align:center; padding:3px 5px; background:#5c9dc3; border-radius:3px; color:#fff; }
#smsMessage .center_display .text_btn a.close { position:absolute; top:24px; background:#5c9dc3; color:#fff; padding:3px 10px; right:-13px; display:block; overflow:hidden; margin-right:12px; } 
#smsMessage .center_display .text_btn button.btn_addwindow { position:absolute; top:-73px; right:0; display:block; width:16px; height:16px; background:url(../img/plus.png) no-repeat; border: 0 none; text-indent:-1000em; cursor:pointer; outline:0; }

/* layer popup (saved messages) */
#layer_messages { top:-250px; width:226px; height:210px; }
#layer_messages .title_info .name { margin-left:10px;}
#layer_messages .title_info .h_number { margin-left:55px;}
#layer_messages .bodyArea { height:160px; }
#layer_messages .bodyArea ul#message_list { height:100%; margin:0; padding:2px; } 
#layer_messages .bodyArea ul#message_list li { list-style-type:none; margin:0; padding:0; line-height:16px; vertical-align:middle;}
#layer_messages .bodyArea ul#message_list li:hover { background-color:#eeeeee; cursor:pointer; }
#layer_messages .bodyArea ul#message_list li .content { width:160px; text-overflow:ellipsis; display:inline-block; white-space: nowrap; overflow: hidden; }
#layer_messages .bodyArea ul#message_list li .delete { cursor:pointer; text-indent: -1000em; padding:0; border:0 none; margin: 2px 0px 0px 10px; width: 9px; display: inline-block; background:url('../img/btn_delete.gif') no-repeat;  vertical-align:top; height:9px; overflow: hidden; } 

#smsMessage .right_button { float:left; margin-left:20px; height:196px; width:216px; }
#smsMessage .right_button .add_info { color:#6c6b65; font-size:12px; padding:5px 10px; background:#fffef6; }
#smsMessage .right_button .time_interval { color:#345a70; line-height:2em; border-bottom:1px solid #f1f1f1; font-size:12px; padding-bottom:5px; margin-top:5px; margin-bottom:5px; }
#smsMessage .right_button .time_interval p { margin:0; }
#smsMessage .right_button .time_interval label { cursor:pointer; }
#smsMessage .right_button .time_interval input { vertical-align:middle; margin:0; }
#smsMessage .right_button .time_interval input.input_text { width:40px; border:1px solid #c5c5c5; background:#f0f0f0; padding:3px; margin-right:2px; }
#smsMessage .right_button .time_interval input.minput { width:20px; border:1px solid #c5c5c5; background:#f0f0f0; padding:3px; margin-right:2px; }
#smsMessage .right_button .add_area { margin-bottom:5px; background:#fff; }
#smsMessage .right_button label { display:inline; margin:0 6px 0 0; padding:0; letter-spacing:-1px; vertical-align:middle;} 
#smsMessage .right_button #smsPurplebookCallback { display:inline; height:28px; border:1px solid #5c9dc3; width:118px; vertical-align:middle; color: #676767; }
#smsMessage .right_button button{ position:relative; vertical-align:middle; height:32px; font-size:11px; margin-left:-3px; background:#5c9dc3; width:92px; color:#fff; border:0 none; overflow:hidden; cursor:pointer;} 

#smsMessage .right_button .submit_btn { margin-bottom:5px;}
#smsMessage .right_button .submit_btn a { color:#fff; font-size:14px; font-weight:bold; width:106px; height:30px; display:block; text-decoration:none; line-height:2.3em; text-align:center; float:left; }
#smsMessage .right_button .submit_btn a.btn_forward { background:#f17d4f; margin-left:2px; }
#smsMessage .right_button .submit_btn a.btn_booking { background:#636363; }
#smsMessage .right_button .submit_btn a.btn_gray { background:#e9e9e9; color:#555; margin:2px 2px 0 0; }
#smsMessage .right_button .help { padding:5px 0; margin-top:10px; clear:both; color:#555; z-index:500;}
#smsMessage .right_button .help img { vertical-align:middle; margin-right:5px; }

/* layer popup (sendid) */
#layer_sendid { top:-210px; width:226px; height:206px; color:#fff;}
#layer_sendid .title_info .default { margin-left:10px;}
#layer_sendid .title_info .h_number { margin-left:22px;}
#layer_sendid .title_info .delete { margin-left:86px;}
#layer_sendid .bodyArea { height:100px; }
#layer_sendid ul#smsPurplebookCallbackList { overflow:auto; height:100%; margin:0; padding:0; } 
#layer_sendid ul#smsPurplebookCallbackList li { list-style-type:none; margin:0; padding:0; height: 21px; font-size: 12px; color:#676767; }
#layer_sendid ul#smsPurplebookCallbackList li span.default { cursor:pointer; padding:0; border:0 none; margin: 2px 0px 0px 26px; width: 9px; display: inline-block; background:url('../img/ico_check_off.gif') no-repeat; width:16px; height:16px; overflow: hidden; } 
#layer_sendid ul#smsPurplebookCallbackList li span.default.on { background:url('../img/ico_check_on.gif') no-repeat; } 
#layer_sendid ul#smsPurplebookCallbackList li span.phonenum { margin: -1px 0px 0px 30px; width:96px; text-overflow: ellipsis; display:inline-block; font-family: tahoma; white-space: nowrap; overflow: hidden; font-weight: normal; cursor:pointer; }
#layer_sendid ul#smsPurplebookCallbackList li span.deleteCallback { cursor:pointer; text-indent:-1000em; padding:0; border:0 none; margin: 2px 0px 0px 20px; width: 9px; display: inline-block; background:url('../img/btn_delete.gif') no-repeat; height:9px; overflow: hidden; } 
#layer_sendid .bottomArea { padding-top:6px; }
#layer_sendid .bottomArea #smsPurplebookInputCallback { display:inline; width:100px; height:15px; padding:3px; border:1px solid #ddd; font: 12px tahoma; vertical-align:middle; }
#layer_sendid .bottomArea button{ position:relative; width:49px; height:23px; vertical-align:middle; border:0 none; background:#000; margin-left:0; overflow:hidden; cursor:pointer; color:#fff;} 
/* layer popup (reserv) */
#layer_reserv { position:absolute; top:70px; display:none; width:200px; height:100px; padding:15px 5px 5px; color:#fff; border:0; }
#layer_reserv .title_info .default { margin-left:10px;}
#layer_reserv .title_info .h_number { margin-left:22px;}
#layer_reserv .title_info .delete { margin-left:86px;}
#layer_reserv .bodyArea { height:70px; padding:0; }
#layer_reserv .bodyArea .datepickup { float:left; }
#layer_reserv .bodyArea .reservtime { float:left; margin:10px 0 0 10px; display:inline; }
#layer_reserv .bodyArea .reservtime #inputReservationDate { width:110px; padding:3px 2px; margin-bottom:3px;}
#layer_reserv .bodyArea .reservtime select { font:8pt dotum; padding:3px 2px; }
#layer_reserv .bodyArea .buts { float:right; margin:10px 10px 0 0; }

/* layer popup (sending status) */
#layer_status { top:-190px; width:250px; color:#555; line-height:1.5em; }
#layer_status .bodyArea { height:100px; }
#layer_status .error_code { color:red; }
#layer_status .bottomArea a { float:left; width:50%; background:#000; }


/* tip */
div.tip_box { background:#fff; padding:15px; margin:0 0 20px 0; position:relative; color:#666; }
div.btn_wrap { position:absolute; right:0; top:15px; .top:0; }
a.use_btn { background:#555; color:#fff; padding:15px 20px; text-decoration:none; .line-height:4em; }


/* font */
span.total { margin-bottom:3px; color:#999; }


/* bottomButton */
.bottomArea { display:table; height:42px; width:100%; margin:0; padding:0; }
.bottomArea li { list-style:none; display:table-cell; white-space:nowrap; white-space:nowrap; border-right:1px solid #fff; background:#ededed; *float:left; *width:24.4%; }
.bottomArea a:after { bottom:-4px; content:""; height:1px; left:0; overflow:hidden; position:absolute; width:100%; }
.bottomArea a { background-color:#ededed; color:#555; text-decoration:none; text-align:center; height:39px; line-height:39px; display:block; position:relative; }
.bottomArea a.etc { background:url(../img/etc.gif) no-repeat 9px 10px; height:38px; color:transparent; width:24px; text-indent:-9999999px; }
/** ie7 **/
.bottomArea li.excel_down_btn { *width:35% !important; }
.bottomArea li.etc_btn { *width:34px !important; }

/* merge style */
#smsMessage .center_display .top_btn button.pop_merge { float:left; display:block; margin-left:3px; width:83px; height:37px; cursor:pointer;}
#smsMessage button { color:#333; border:0; padding:5px 10px; }
#smsMessage button.pink_btn { background:#ff8686; color:#fff; }

#layer_merge { top:-100px; }

/* View All */
#pb_view_all {width:100%; height:100%; z-index:450; display:none; background:#fff;}

/* Full SendResult */
#pb_result {width:100%; height:100%; z-index:450; display:none; background:#fff;}

/* Full MsgPreview */

#pb_preview {width:100%; height:100%; z-index:450; display:none; background:#fff;}

/* left button */
#pb_left_button #pb_btn_location { position:absolute; top:80px; padding:0px; margin:0px; left:0px; width:0px; overflow:hidden;}
#btn_pop_chars_box { background:url(../img/chars.png) no-repeat; padding-left:33px; width:0px; height:30px; margin:0px; overflow:hidden; position:absolute; right:0; }
#btn_attach_pic_box { background:url(../img/photo_add.png) no-repeat; padding-left:33px; width:0px; height:30px; margin:0px; overflow:hidden; position:absolute; right:0; top:40px;}
#btn_delete_pic_box { background:url(../img/photo_delete.png) no-repeat; padding-left:33px; width:0px; height:30px; margin:0px; overflow:hidden; position:absolute; display:none; right:0; top:40px;}
#btn_pop_merge_box { background:url(../img/merge.png) no-repeat; padding-left:33px; width:0px; height:30px; margin:0px; overflow:hidden; position:absolute; right:0; top:80px;}

#pb_left_btn_box #btn_delete_pic_box .left_btn { background:#ee7283; }
#pb_left_btn_box #btn_delete_pic_box .left_btn:after { border-right-color:#ee7283; }

#pb_left_btn_box .left_btn { padding-left:8px; margin:0 0 5px 5px; text-decoration:none; color:#fff; background:#4686ab; text-align:left; width:80px; height:30px; border:0; cursor:pointer; }
#pb_left_btn_box .left_btn:after { border:solid transparent; border-color:transparent; border-width:5px; position:absolute; left:33px; top:10px; border-left:0; border-right-color:#4686ab; width:0; height:0; content:""; }

/* progress bar */
.progressBar { background:#f5f5f5; border:0; border-radius:0; height:20px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset; }
.progressBar .ui-progressbar-value { background:#5cb85c; box-shadow:0 -1px 0 rgba(0, 0, 0, 0.15) inset; border:0; border-radius:0; }

/* pop_message */
#pb_pop_message { padding:10px; background:#333; color:#fff; }
#pb_pop_message:after { border:solid transparent; border-color:transparent; border-width:5px; position:absolute; left:-5px; top:12px; border-left:0; border-right-color:#333; width:0; height:0; content:""; }
